@page
@model IoTSharp.Gateway.Modbus.Pages.SlaveAdmin.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ModbusSlave</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ModbusSlave.Id" />
            <div class="form-group">
                <label asp-for="ModbusSlave.Slave" class="control-label"></label>
                <input asp-for="ModbusSlave.Slave" class="form-control" />
                <span asp-validation-for="ModbusSlave.Slave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModbusSlave.TimeOut" class="control-label"></label>
                <input asp-for="ModbusSlave.TimeOut" class="form-control" />
                <span asp-validation-for="ModbusSlave.TimeOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModbusSlave.DeviceName" class="control-label"></label>
                <input asp-for="ModbusSlave.DeviceName" class="form-control" />
                <span asp-validation-for="ModbusSlave.DeviceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModbusSlave.DeviceNameFormat" class="control-label"></label>
                <input asp-for="ModbusSlave.DeviceNameFormat" class="form-control" />
                <span asp-validation-for="ModbusSlave.DeviceNameFormat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
