@page
@model IoTSharp.Gateway.Modbus.Pages.PointMapAdmin.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PointMapping</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PointMapping.Id" />
            <div class="form-group">
                <label asp-for="PointMapping.DataName" class="control-label"></label>
                <input asp-for="PointMapping.DataName" class="form-control" />
                <span asp-validation-for="PointMapping.DataName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PointMapping.DataType" class="control-label"></label>
                <select asp-for="PointMapping.DataType" class="form-control" asp-items="@Html.GetEnumSelectList(typeof(IoTSharp.Gateway.Modbus.Data.DataType))" ></select>
                <span asp-validation-for="PointMapping.DataType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PointMapping.DataCatalog" class="control-label"></label>
                <select asp-for="PointMapping.DataCatalog" class="form-control" asp-items="@Html.GetEnumSelectList(typeof(IoTSharp.Gateway.Modbus.Data.DataCatalog))"  ></select>
                <span asp-validation-for="PointMapping.DataCatalog" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PointMapping.FunCode" class="control-label"></label>
                <select asp-for="PointMapping.FunCode" class="form-control" asp-items="@Html.GetEnumSelectList(typeof(IoTSharp.Gateway.Modbus.Data.FunCode))"  ></select>
                <span asp-validation-for="PointMapping.FunCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PointMapping.Address" class="control-label"></label>
                <input asp-for="PointMapping.Address" class="form-control" />
                <span asp-validation-for="PointMapping.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PointMapping.Length" class="control-label"></label>
                <input asp-for="PointMapping.Length" class="form-control" />
                <span asp-validation-for="PointMapping.Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PointMapping.DateTimeFormat" class="control-label"></label>
                <input asp-for="PointMapping.DateTimeFormat" class="form-control" />
                <span asp-validation-for="PointMapping.DateTimeFormat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PointMapping.CodePage" class="control-label"></label>
                <input asp-for="PointMapping.CodePage" class="form-control" />
                <span asp-validation-for="PointMapping.CodePage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
